{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/highlight/highlight.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/jquery.mCustomScrollbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/isotope.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/progressbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/options.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>