{% load staticfiles %}
<section class="section clear-mrg">
    <h2 class="title-lg text-upper">留言</h2>

    <div class="padd-box-sm clear-mrg">
        <div class="ref-box brd-btm hreview">
            <div class="ref-avatar">
                <img alt="" src="{% static 'img/uploads/avatar/avatar-54x54-01.png'%}" class="avatar avatar-54 photo" height="54"
                     width="54">
            </div>

            <div class="ref-info">
                <div class="ref-author">
                    <strong>Hattie Maxwell</strong>
                    <span>West Alexandrine</span>
                </div>

                <blockquote class="ref-cont clear-mrg">
                    <p>Your brand is the core of your marketing, the central
                        theme around your products and services.Your brand is not your Logo or your Company Name
                    </p>
                </blockquote>
            </div>
        </div><!-- .ref-box -->
    </div><!-- .padd-box-sm -->
</section><!-- .section -->